.dashboard{
  width: 100%;
}

.first-chart{
    margin-top:5%;
}

.second-chart{
    margin-top:3%;
}

.third-chart{
    margin-top:2%;
}

.boxed1 {
    font-size: 16px;
    color:black;
    font-family:Arial;
    width:300px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom:5%;

}

.boxed2 {
    font-size: 16px;
    color:black;
    font-family: Arial;
    width:225px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom:5%;


}

.boxed3 {
    font-size: 16px;
    color:black;
    font-family: Arial;
    width:225px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
    padding: 0;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    margin-bottom:5%;


}

#PUE{
    font-weight: bold;
    text-decoration: underline;
}