/*For d3 chart demo*/
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.dot {
  stroke: #000;
}


.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
.dashboard-background img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}



.logo{
    margin-left:27px;
}
.slogan{
        font-size: 13px;
        margin-left:15px;
}

.dashboard{
   width: 100%;
   margin: 0 50px 0 50px;
}

/*.left {*/
     /*margin-left: 50px;*/
/*}​*/
/*.right{*/
     /*float:right;width:300px;*/
 /*}*/
/*.center{*/
     /*margin:auto;width:300px;*/
/*}*/

body{
     font: 10px arial;
}

.boxed1 {
    font-size: 16px;
    color:black;
    font-family: "Arial Black";
    width:300px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
}

.boxed2 {
    font-size: 16px;
    color:black;
    font-family: "Arial Black";
    width:225px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
}

.boxed3 {
    font-size: 16px;
    color:black;
    font-family: "Arial Black";
    width:225px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.col-xs-4 {
    text-align: center;
}

