.text-title{
    margin-left:38%;
}

.head-title{
    margin-left: 45%;
}

.head-buttons{
    margin-left: 48%;
}

.side-buttons{
   margin-left: 5%;
}

.model_views {
    width: 740px;
    height: 400px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.btn-rounded{
   border-radius: 15px;
}

.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.curve_chart{
}

.boxed5{
    font-size: 14px;
    color:black;
    font-family: Arial;
    width:310px;
    height:100%;
    border: 2px solid black ;
    text-align: left;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: 20px;
}

.system-info{
    margin-left: 19%;
    text-align: center;

}

.pics{
    width:100%
}

.currentPUE{

}

.leftpanel{
    /*width:100%;*/
}

.rightpanel{
    /*width:100%;*/
}

