.boxed4{
    font-size: 14px;
    color:black;
    font-family: "Arial Black";
    width:300px;
    height:100%;
    border: 2px solid black ;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.container-table{
    margin-left: 15px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;

}

.progressBar{
    width:350px;
    margin-left: 40px;

}


.boxed5{
    font-size: 14px;
    color:black;
    font-family: Arial;
    width:310px;
    height:100%;
    border: 2px solid black ;
    text-align: left;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: 50px;
}

.op-status{
    margin-left: 50px;
    margin-top: 60px;
}

#op_01{
    width: 300px;
}

#op_02{
    width: 300px;
}

body{margin:40px;}

.stepwizard-step p {
    margin-top: 10px;
    font-size: 12px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}