.text-title{
    margin-left:5%;
}

.head-title{
    margin-left: 27%;
}

.simulation-buttons{
    margin-left: 30%;

}

.side-buttons{
   margin-left: 5%;
}

.model_views{
    width:700px;
    height:380px;
}

.btn-rounded{
    border-radius: 15px;
}

.boxed4{
    font-size: 14px;
    color:black;
    font-family: Arial;
    width:300px;
    height:100%;
    border: 2px solid black ;
    text-align: left;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.boxed5{
    font-size: 14px;
    color:black;
    font-family: Arial;
    width:310px;
    height:100%;
    border: 2px solid black ;
    text-align: left;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: 25px;
}

.container-table{
    margin-left: 15px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;

}

.progressBar{
    width:350px;
    margin-left: 23%;

}

.simulation-result{
    margin-left: 32%;
}

.pics{
    width:100%
}

.system-info{
    width:100%;
    margin-left: 1%;
    text-align: center;

}

.add-parameters{
    margin-left:10%;
}