<!DOCTYPE html>
<html lang="en">

<head>
    <style>

        .axis .domain {
            /*display: none;*/
        }

    </style>

</head>
<body>
    <div width="300" height="240" id="stack-chart"></div>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- jQuery -->
    <script src="../static/js/theme_js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/theme_js/bootstrap.min.js"></script>
</body>
</html>
