<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login, Register form</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="../static/css/index.css">

  
</head>

<body>
  
  <div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="index-logo">
        <img class="site-logo" src="../static/img/logo.png">
    </div>

    <form class="email-login" name="email-login" onsubmit="return validateForm()" method="post">
      <div class="u-form-group">
        <input type="text" name="username" placeholder="Username/Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>

    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>

    <script src='../static/js/login_box.js'></script>

    <script>
        $(".email-signup").hide();
        $("#signup-box-link").click(function(){
          $(".email-login").fadeOut(100);
          $(".email-signup").delay(100).fadeIn(100);
          $("#login-box-link").removeClass("active");
          $("#signup-box-link").addClass("active");
        });
        $("#login-box-link").click(function(){
          $(".email-login").delay(100).fadeIn(100);;
          $(".email-signup").fadeOut(100);
          $("#login-box-link").addClass("active");
          $("#signup-box-link").removeClass("active");
        });
    </script>

    <script>
        function validateForm() {
            var username = document.forms["email-login"]["username"].value;
            var password = document.forms["email-login"]["password"].value;
            if (username == "admin" && password == "RDAcontact001") {
                window.location.replace("home.html");
                return false;
            }
            else {
                alert("Please enter the correct username or password!");
                window.location.replace("error.html");


            }
        }
    </script>



</body>
</html>
