<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/theme_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/theme_css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Header CSS -->
    <link href="../static/css/header_style.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../static/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="../static/js/gauge.js"></script>
    <script type="text/javascript" src="../static/js/gauge_drawing.js"></script>





</head>

<body onload="initialize()">
   <!-- Header Starts -->
		<header>
		  <div class="container">
			<div class="row">
			  <div class="col-md-4 col-sm-4">
				<div class="logo">
                    <img class="logo" src="../static/img/logo.png">
				</div><br>
                  <div class="slogan">
                      <b><i>Your Savings, Your Earnings</i></b>
                  </div>
			  </div>

			  <div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2">
                    <br><br><br>
					<form class="form-inline" role="form">
					  <div class="form-group">
						<input type="text" class="form-control" id="search" placeholder="Type Something...">
					  </div>
					  <button type="submit" class="btn btn-default">Search</button>
					</form>

			  </div>
			</div>
		  </div>
		</header>
        <br>
		<!-- Navigation bar starts -->

		<div class="navbar bs-docs-nav" role="banner">
		  <div class="container">
		   <div class="navbar-header">
			 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			 </button>
		   </div>

			  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
                    <li><a href="service.html">Home</a></li>
                    <li><a href="service.html">Asset Management</a></li>
                    <li><a href="service.html">Dashboard</a></li>
                    <li><a href="aboutus.html">Monitoring</a></li>
                    <li><a href="aboutus.html">CFD Simulation</a></li>
				    <li><a href="aboutus.html">AI Optimization</a></li>


				  <!-- Refer Bootstrap navbar doc -->

				  <li class="dropdown">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					 <ul class="dropdown-menu">
					     <li><a href="blog-2.html">Profile</a></li>
					     <li><a href="blog-4.html">User Account</a></li>
                         <li><a href="blog-single.html">Log Out</a></li>

					 </ul>
                  </li>
                    <li><a href="">Welcome: <u><i>Admin </i></u></a></li>

				</ul>
			  </nav>
			 </div>
		  </div>

        <!-- Navigation bar ends -->
       <div class="dashboard-background" id="dashboard-background">
       <img src="../static/img/dashboard.png">
       </div>
       <br><br><br>

    <!-- About -->
       <div class="dashboard" id="dashboard">

           <div class="col-xs-4">
               <div id="stack-chart"></div>
               <br><br>
               <div class="boxed1">
                   S$ Your Year-to_Date Energy Saving is <u>$231K</u> <br><br>
                   Annualized Saving is <u>$493K</u>
               </div>
           </div>


           <div class="col-xs-4">
               <span id="pueGaugeContainer"></span>
               <br><br><br>
               <div class="boxed2">
                   Your current PUE is : <u>1.75</u> <br>
                   (Power Usage Effectiveness)
               </div>

           </div>

            <div class="col-xs-4">
                <div id="pie-chart"></div>

                    <br><br><br>
                <div class="boxed3">
                   Your current Energy Consumption: <br>
                   % breakdown
                </div>
            </div>
       </div>



    <!-- jQuery -->
    <script src="../static/js/theme_js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/theme_js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
   <script src="https://d3js.org/d3.v4.min.js"></script>
   <script src="../static/js/main.js"></script>
   <script type="text/javascript" src="../static/js/piechart_drawing.js"></script>
</body>

</html>
