<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Simulation</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/css/theme_css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="../static/css/theme_css/stylish-portfolio.css" rel="stylesheet">

	<!-- Custom Header CSS -->
	<link href="../static/css/header_style.css" rel="stylesheet">
	<link href="../static/css/main.css" rel="stylesheet">
	<link href="../static/css/simulation.css" rel="stylesheet">



	<!-- Custom Fonts -->
	<link href="../static/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	<script type="text/javascript" src="../static/js/gauge.js"></script>
	<script type="text/javascript" src="../static/js/gauge_drawing.js"></script>

	<!-- Button Loading Staus -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Control Parameter Settings -->
	<script type="text/javascript" src="../static/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-cookie.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table-filter-control.js"></script>
	<link href="../static/css/bootstrap-table.css" rel="stylesheet">





</head>




<body>

<script>
 $(document).ready(function(){

     $("#toggle_result").hide();

 });
</script>
<!-- Header Starts -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="logo">
					<img class="logo" src="../static/img/logo.png">
				</div><br>
				<div class="slogan">
					<b><i>Your Savings, Your Earnings</i></b>
				</div>
			</div>

			<div class="col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-2">
				<br><br><br>
				<form class="form-inline" role="form">
					<div class="form-group">
						<input type="text" class="form-control" id="search" placeholder="Type Something...">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>

			</div>
		</div>
	</div>
</header>
<br>
<!-- Navigation bar starts -->

<div class="navbar bs-docs-nav" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
				<li><a href="dashboard.html">Dashboard</a></li>
				<li><a href="monitoring.html">Monitoring</a></li>
                <li><a href="diagnostic.html">Diagnostic</a></li>
				<li><a href="simulation.html">CFD Simulation</a></li>
				<li><a href="optimization.html">AI Optimization</a></li>


				<!-- Refer Bootstrap navbar doc -->

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="blog-2.html">Profile</a></li>
						<li><a href="blog-4.html">User Account</a></li>
						<li><a href="blog-single.html">Log Out</a></li>

					</ul>
				</li>
				<li><a href="">Welcome: <u><i>Admin </i></u></a></li>

			</ul>
		</nav>
	</div>
</div>

<!-- Navigation bar ends -->
<div class="dashboard-background" id="dashboard-background">
	<img src="../static/img/simulation.png">
</div>
<br><br><br>

<div class="item row">

	<div class="col-xs-4">
		<div class="text-title">
            <br><br><br><br><br>
			<h5>Simulation Control Parameter Setting</h5><br><br>


            <div class="boxed4">
                1. Change the mode to manual Mode <br><br>
                2. Specify a <u>Set Point Value</u> under the Set Point Column <br><br>
                3. Click <u>Start Simulation</u> Button<br>
            </div>
            <br><br><br><br>



            <form class="form-horizontal">
              <div class="table-responsive container-table">
                <table class="table table-bordered table-striped table-highlight">
                  <thead >
                    <th style="width: 45%">Name</th>
                    <th style="width: 20%">Value</th>
                    <th style="width: 18%">Set Point</th>
                    <th style="width: 19%">Mode</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_1_1" value="PCU1 Outlet Temp" /></td>
                      <td><input type="text" class="form-control" id="form-control_1_2" value="23.1" /></td>
                      <td><input type="text" class="form-control" id="form-control_1_3" value="22" /></td>
                      <td>
                        <select class="form-control" id="form-control_1_4">
                                        <option selected>Auto</option>
                                        <option>Manual</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_2_1" value="PCU2 Outlet Temp" /></td>
                      <td><input type="text" class="form-control" id="form-control_2_2" value="22.2" /></td>
                      <td><input type="text" class="form-control"  id="form-control_2_3" value="22" /></td>
                      <td>
                        <select class="form-control" id="form-control_2_4">
                                        <option>Auto</option>
                                        <option selected>Manual</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_3_1" value="PCU3 Outlet Temp" /></td>
                      <td><input type="text" class="form-control"  id="form-control_3_2" value="21.8" /></td>
                      <td><input type="text" class="form-control" id="form-control_3_3" value="22" /></td>
                      <td>
                        <select class="form-control" id="form-control_3_4">
                                        <option>Auto</option>
                                        <option selected>Manual</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_4_1" value="PCU1 Outlet Pressure" /></td>
                      <td><input type="text" class="form-control" id="form-control_4_2" value="75.5%" /></td>
                      <td><input type="text" class="form-control" id="form-control_4_3" value="73%" /></td>
                      <td>
                        <select class="form-control" id="form-control_4_4">
                                        <option selected>Auto</option>
                                        <option >Manual</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_5_1" value="PCU2 Outlet Pressure" /></td>
                      <td><input type="text" class="form-control" id="form-control_5_2" value="76%" /></td>
                      <td><input type="text" class="form-control" id="form-control_5_3" value="76%" /></td>
                      <td>
                        <select class="form-control" id="form-control_5_4">
                                        <option selected>Auto</option>
                                        <option >Manual</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" id="form-control_6_1" value="PCU3 Outlet Pressure" /></td>
                      <td><input type="text" class="form-control" id="form-control_6_1" value="77%" /></td>
                      <td><input type="text" class="form-control" id="form-control_6_3" value="75%" /></td>
                      <td>
                        <select class="form-control" id="form-control_6_4">
                                        <option >Auto</option>
                                        <option selected>Manual</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
            </div>

            <div>
			<button class="btn btn-danger" id="controls">Commit Controls</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" id="simulation">Start Simulation</button></div> <br>

        <!--progress bar loading-->
        <div class="progressBar" id="progressBar" style="display:none" >
            <div class="progress progress-striped active" >
            <div class="progress-bar progress-bar-success " style="width:0%"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
         $(document).ready(function(){

             $("#controls").click(function(){
                 $("#progressBar").hide();
                 $("#toggle_result").hide();
            });

             $("#simulation").click(function(){
                 $("#progressBar").show();
                 $("#toggle_result").show();
             });

             $(".progress-bar").animate({
                width: "100%"
             }, 10000);

         });
        </script>

		<br><br><br><br>

		<br><br><br><br>

	</div>

	<!-- head title and top buttons for model/heat view -->
	<div class="col-xs-8">
		<div class="head-title"><h4>Simulation Environment</h4></div><br>
		<div class="buttons" align="center">
			<button type="button" id="toggle1"  class="btn btn-primary " data-loading-text="Loading ...">Model View</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="toggle2"  class="btn btn-primary active" data-loading-text="Loading ...">Heat View</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="toggle_result"  class="btn btn-success" data-loading-text="Loading ...">Simulation Result</button>
		</div><br><br><br>

		<script type="text/javascript">
            $(function() { <!--button loading status-->
                $(".btn").click(function(){
                    $(this).button('loading').delay(1000).queue(function() {
                        $(this).button('reset');
                        $(this).dequeue();
                    });
                });
            });
		</script>

    <div>
        <!-- monitoring real time graphs -->
        <div class="col-xs-10">
            <div class="pics">

                <div class="active_view" id="active_view"><img class="model_views" id="model_views" src="../static/img/monitoring/Heat_Mode_side.gif"></div>

            </div>
            <br><br>
        <!-- system status -->
            <div class="boxed5 col-xs-6">
                <div align="center"><font size="3"><i><b><u>System Information:</u></b></i></font></div><br>
                <i><b><u>Data Center Name</u></b>: XYZ Super Computer Data Center <br><br>
                <b><u>Data Center Location</u></b>: 1 ABC Road, Singapore 202356 <br><br>
                <b><u>IT Capacity</u></b>: 800 kWh<br><br>
                <b><u>Cooling Capacity</u></b>: 800 kWh</i><br><br>
            </div>
            <div class="boxed5 col-xs-6">
                <div align="center"><font size="3"><i><b><u>Simulation Result:</u></b></i></font></div><br>
                &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<i><b><u>PUE Reduction</u></b>: 2%<br><br>
                 &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b><u>Over-Heating</u></b>: No <br><br>
                 &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b><u>IT Saving</u></b>: k$ 10 <br><br>
                 &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b><u>Cooling Saving</u></b>: k$ 231</i><br><br>
            </div>
            <br><br><br>


        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#toggle1").click(function(){
                    $('#toggle1').addClass('active');
                    $('#toggle2').removeClass('active');
                    if(isActive($("#toggleA"))){
                        $(".model_views").attr("src","../static/img/monitoring/Model_View_top.jpg");
                    }
                    else if(isActive($("#toggleB"))){
                        $(".model_views").attr("src","../static/img/monitoring/Model_View_side.jpg");

                    }
                    else{
                        $(".model_views").attr("src","../static/img/monitoring/Model_View_raisedfloor.jpg");

                    }

                });

                $("#toggle2").click(function(){
                    $('#toggle2').addClass('active');
                    $('#toggle1').removeClass('active');
                    if(isActive($("#toggleA"))){
                        $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_top.gif");
                    }
                    else if(isActive($("#toggleB"))){
                        $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_side.gif");

                    }
                    else{
                        $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_raised_floor.gif");

                    }


                });

                 $("#toggle_result").click(function(){
                    $('#toggle1').removeClass('active');
                    $('#toggle2').removeClass('active');
                    $(".model_views").attr("src","../static/img/simulation/Simulation_heat_side.gif");
                    if(isActive($("#toggleA"))){
                        $(".model_views").attr("src","../static/img/simulation/Simulation_heat_top.gif");
                    }
                    else if(isActive($("#toggleB"))){
                        $(".model_views").attr("src","../static/img/simulation/Simulation_heat_side.gif");

                    }
                    else{
                        $(".model_views").attr("src","../static/img/simulation/Simulation_heat_raised_floor.gif");

                    }


                });

                function isActive(elemnt){
                    result = elemnt.hasClass('active');
                    console.log(result);
                    return result;
                }

            });
        </script>


        <!-- side buttons for top/side/floor view -->
        <div class="side-buttons">
            <div class="col-xs-2">
                <br><br><br><br><br>
                <div><button type="button" id="toggleA" class="btn btn-primary btn-block" data-loading-text="Loading ...">Top View</button></div><br><br>
                <div><button type="button" id="toggleB" class="btn btn-primary btn-block active" data-loading-text="Loading ...">Side View</button></div><br><br>
                <div><button type="button" id="toggleC" class="btn btn-primary btn-block" data-loading-text="Loading ...">Floor View</button></div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#toggleA").click(function(){
                $('#toggleA').addClass('active');
                $('#toggleB').removeClass('active');
                $('#toggleC').removeClass('active');
                if(isActive($("#toggle1"))){
                    $(".model_views").attr("src","../static/img/monitoring/Model_View_top.jpg");
                }
                else{
                    $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_top.gif");

                }

            });


            $("#toggleB").click(function(){
                $('#toggleB').addClass('active');
                $('#toggleA').removeClass('active');
                $('#toggleC').removeClass('active');
                if(isActive($("#toggle1"))){
                    $(".model_views").attr("src","../static/img/monitoring/Model_View_side.jpg");
                }
                else{
                    $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_side.gif");

                }

            });

            $("#toggleC").click(function(){
                $('#toggleC').addClass('active');
                $('#toggleA').removeClass('active');
                $('#toggleB').removeClass('active');
                if(isActive($("#toggle1"))) {
                    $(".model_views").attr("src", "../static/img/monitoring/Model_View_raisedfloor.jpg");
                }
                else{
                    $(".model_views").attr("src","../static/img/monitoring/Heat_Mode_raised_floor.gif");

                }
            });

            function isActive(elemnt){
                result = elemnt.hasClass('active');
                console.log(result);
                return result;
            }

        });
    </script>


	</div>

</div>





<!-- jQuery -->
<script src="../static/js/theme_js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/theme_js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/js/simulation.js"></script>

</body>

</html>